In [1]:
import pandas as pd

In [2]:
df = pd.read_json('goodreads_reviews_spoiler.json', lines=True)

In [3]:
df.head()

,user_id,timestamp,review_sentences,rating,has_spoiler,book_id,review_id
0,8842281e1d1347389f2ab93d60773d4d,2017-08-30,"[[0, This is a special book.], [0, It started ...",5,True,18245960,dfdbb7b0eb5a7e4c26d59a937e2e5feb
1,8842281e1d1347389f2ab93d60773d4d,2017-03-22,"[[0, Recommended by Don Katz.], [0, Avail for ...",3,False,16981,a5d2c3628987712d0e05c4f90798eb67
2,8842281e1d1347389f2ab93d60773d4d,2017-03-20,"[[0, A fun, fast paced science fiction thrille...",3,True,28684704,2ede853b14dc4583f96cf5d120af636f
3,8842281e1d1347389f2ab93d60773d4d,2016-11-09,"[[0, Recommended reading to understand what is...",0,False,27161156,ced5675e55cd9d38a524743f5c40996e
4,8842281e1d1347389f2ab93d60773d4d,2016-04-25,"[[0, I really enjoyed this book, and there is ...",4,True,25884323,332732725863131279a8e345b63ac33e

In [4]:
goodreads_books = pd.read_csv("goodreads/books.csv", engine="python")
goodreads_books.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPr√©",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [5]:
isbn_list = pd.read_csv('isbn_list.txt', header=None)
isbn_list.columns = ["isbn"]
isbn_list.head()

         isbn
0  067001821X
1  038560310X
2  1563890356
3   385340559
4   394541553

In [6]:
merged_df = pd.merge(isbn_list, goodreads_books, on='isbn', how='inner')
merged_df.head()

,isbn,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,067001821X,1011,1379961,1379961,3020568,76,NaN,Geraldine Brooks,2008.0,People of the Book,...,95796,101619,9936,1408,4831,20633,39762,34985,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
1,038560310X,1090,24800,24800,856555,37,9.780386e+12,Mark Z. Danielewski,2000.0,House of Leaves,...,75469,88731,8113,3020,4930,12570,24803,43408,https://images.gr-assets.com/books/1403889034m...,https://images.gr-assets.com/books/1403889034s...
2,1563890356,2353,25101,25101,25854,35,9.781564e+12,"Neil Gaiman, Matt Wagner, George Pratt, Dick G...",1990.0,The Sandman: Season of Mists,...,44811,50459,1261,132,367,3403,14685,31872,https://images.gr-assets.com/books/1327937313m...,https://images.gr-assets.com/books/1327937313s...
3,385340559,2135,108942,108942,1053240,86,9.780385e+12,Lee Child,2007.0,Bad Luck and Trouble,...,42539,50323,2114,202,939,8065,21811,19306,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
4,394541553,490,15196,15196,1947012,37,9.780395e+12,Art Spiegelman,1985.0,Maus: A Survivor's Tale : My Father Bleeds His...,...,184007,191615,4837,2822,4801,21104,56900,105988,https://images.gr-assets.com/books/1327884972m...,https://images.gr-assets.com/books/1327884972s...

In [7]:
merged_df["isbn"]

0       067001821X
1       038560310X
2       1563890356
3        385340559
4        394541553
           ...
1796     553588257
1797      61245097
1798     140286276
1799     439295785
1800      64400026
Name: isbn, Length: 1801, dtype: object

In [8]:
merged_df["book_id"]

0       1011
1       1090
2       2353
3       2135
4        490
        ...
1796    1922
1797    1818
1798     847
1799    2361
1800     544
Name: book_id, Length: 1801, dtype: int64

In [9]:
merged_df["book_id"].nunique()

1801

In [10]:
new_merged_df = merged_df.drop(columns=["book_id"])
new_merged_df = new_merged_df.rename(columns={"goodreads_book_id": "book_id"})

In [11]:
merged_user_review = pd.merge(new_merged_df, df, on='book_id', how='inner')
merged_user_review.head()

,isbn,book_id,best_book_id,work_id,books_count,isbn13,authors,original_publication_year,original_title,title,...,ratings_4,ratings_5,image_url,small_image_url,user_id,timestamp,review_sentences,rating,has_spoiler,review_id
0,067001821X,1379961,1379961,3020568,76,NaN,Geraldine Brooks,2008.0,People of the Book,People of the Book,...,39762,34985,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...,9fb3243336a3c406f5c19c548d7e5570,2009-07-11,"[[0, There were parts of this book I really lo...",3,False,208694595f3bb803f12620d0755d91ee
1,067001821X,1379961,1379961,3020568,76,NaN,Geraldine Brooks,2008.0,People of the Book,People of the Book,...,39762,34985,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...,c4f655f2ed79599a9259d7762313f3f3,2009-04-03,"[[0, I really enjoyed this book.], [0, When I ...",4,False,8f1784d8a20cb80a942b6dfdaeb42c1f
2,067001821X,1379961,1379961,3020568,76,NaN,Geraldine Brooks,2008.0,People of the Book,People of the Book,...,39762,34985,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...,d2f4a240821246a08d1a73eb08271170,2017-07-20,"[[0, People of the Book is a phenomenal tale.]...",5,False,962e9bfb68b65e1c61920c2c0174e706
3,067001821X,1379961,1379961,3020568,76,NaN,Geraldine Brooks,2008.0,People of the Book,People of the Book,...,39762,34985,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...,936d13ad9c0fdbd3c5156bc77511f446,2008-09-07,"[[0, by and large, excellent.], [0, a few of t...",4,False,59fed662d353ab2fb7b01ad7464fb2d8
4,067001821X,1379961,1379961,3020568,76,NaN,Geraldine Brooks,2008.0,People of the Book,People of the Book,...,39762,34985,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...,0f6b8c04f811e05c8978bd6b66ce7685,2012-07-08,"[[0, I was expecting more from this - a bit di...",3,False,478133e76dafe4fb63ba13bacb0e10a8

In [12]:
merged_user_review["isbn"].nunique()

1371

In [13]:
reviews = merged_user_review[["isbn", "review_sentences", "user_id", "rating"]]
reviews.head()

,isbn,review_sentences,user_id,rating
0,067001821X,"[[0, There were parts of this book I really lo...",9fb3243336a3c406f5c19c548d7e5570,3
1,067001821X,"[[0, I really enjoyed this book.], [0, When I ...",c4f655f2ed79599a9259d7762313f3f3,4
2,067001821X,"[[0, People of the Book is a phenomenal tale.]...",d2f4a240821246a08d1a73eb08271170,5
3,067001821X,"[[0, by and large, excellent.], [0, a few of t...",936d13ad9c0fdbd3c5156bc77511f446,4
4,067001821X,"[[0, I was expecting more from this - a bit di...",0f6b8c04f811e05c8978bd6b66ce7685,3

In [14]:
reviews

,isbn,review_sentences,user_id,rating
0,067001821X,"[[0, There were parts of this book I really lo...",9fb3243336a3c406f5c19c548d7e5570,3
1,067001821X,"[[0, I really enjoyed this book.], [0, When I ...",c4f655f2ed79599a9259d7762313f3f3,4
2,067001821X,"[[0, People of the Book is a phenomenal tale.]...",d2f4a240821246a08d1a73eb08271170,5
3,067001821X,"[[0, by and large, excellent.], [0, a few of t...",936d13ad9c0fdbd3c5156bc77511f446,4
4,067001821X,"[[0, I was expecting more from this - a bit di...",0f6b8c04f811e05c8978bd6b66ce7685,3
...,...,...,...,...
328738,64400026,"[[0, I really enjoyed reading this book!], [0,...",a161ad57be460d36f3b46bb54a1451ef,5
328739,64400026,"[[0, Re-read this as part of my big read .], [...",cbe851ae20560fc12501dc98af876fe3,3
328740,64400026,"[[0, It has been a LONG time since I read this...",afb819eff9cb3f10a95a59badd7dba4d,4
328741,64400026,"[[0, I read this entire series over and over a...",3e623bbae9f50ddb1655a28c9ddb4f25,4
328742,64400026,"[[0, I don't remember why I had to read this b...",84392b372b3de9651a7d29e8fed43ad7,2

In [15]:
reviews[reviews["isbn"] == "067001821X"]["review_sentences"]

0      [[0, There were parts of this book I really lo...
1      [[0, I really enjoyed this book.], [0, When I ...
2      [[0, People of the Book is a phenomenal tale.]...
3      [[0, by and large, excellent.], [0, a few of t...
4      [[0, I was expecting more from this - a bit di...
                             ...
115    [[0, I found the "book conservator" storyline ...
116    [[0, I thoroughly enjoyed this book and highly...
117    [[0, This book takes an interesting tack for a...
118    [[0, Completed now and all of it (including th...
119    [[0, I couldn't really get into this.], [0, I ...
Name: review_sentences, Length: 120, dtype: object

In [16]:
def get_five_reviews(group):
    return group.head(5)
new_df = reviews.groupby('isbn', group_keys=False).apply(get_five_reviews)

In [17]:
new_df.shape

(6855, 4)

In [18]:
list_of_reviews = new_df["review_sentences"].to_list()
reviews_list = []
for reviews in list_of_reviews:
    review_dict = {}
    for each_sent in reviews:
        if each_sent[0] not in review_dict:
            review_dict[each_sent[0]] = each_sent[1]
        else:
            review_dict[each_sent[0]] += " " + each_sent[1]
    
    if len(review_dict) > 1:
        para = ""
        for v in review_dict.values():
            para +=  "\n" + v
        reviews_list.append(para)
    else: 
        for v in review_dict.values():
            reviews_list.append(v)

len(reviews_list)

6855

In [19]:
new_df["reviews"] = reviews_list

In [20]:
new_df.head()

,isbn,review_sentences,user_id,rating,reviews
128126,000712774X,"[[0, Greatly imaginative, but most (16 of 18) ...",348831e4d91a1e4b9968f3272026dd97,3,"Greatly imaginative, but most (16 of 18) of th..."
128127,000712774X,"[[0, a fun mix of sci-fi stories.], [0, Althou...",aca760854b57ce2ec981df32e46dc96c,3,a fun mix of sci-fi stories. Although I was su...
128128,000712774X,"[[0, First, the man who reads this audiobook s...",cec77035cef250b558adb6cc3a46c6e9,3,"First, the man who reads this audiobook sounds..."
128129,000712774X,"[[0, The more I read his stuff, the more I lov...",72ed895a79bad8b6d72048cafb03844e,4,"The more I read his stuff, the more I love Ray..."
128130,000712774X,"[[0, I really enjoyed this collection, and I l...",4481dca41124ad60cd3eee91717e346b,4,"I really enjoyed this collection, and I loved ..."

In [21]:
new_df["isbn"].nunique()

1371

In [22]:
user_id_map = pd.read_csv("goodreads/user_id_map.csv")
user_id_map.head()

   user_id_csv                           user_id
0            0  8842281e1d1347389f2ab93d60773d4d
1            1  72fb0d0087d28c832f15776b0d936598
2            2  ab2923b738ea3082f5f3efcbbfacb218
3            3  d986f354a045ffb91234e4af4d1b12fd
4            4  7504b2aee1ecb5b2872d3da381c6c91e

In [23]:
merged_users = pd.merge(user_id_map, new_df, on='user_id', how='inner')
merged_users.head()

,user_id_csv,user_id,isbn,review_sentences,rating,reviews
0,0,8842281e1d1347389f2ab93d60773d4d,034541005X,"[[0, One of my top 5 favorites.], [0, Read thi...",5,One of my top 5 favorites. Read this at the de...
1,0,8842281e1d1347389f2ab93d60773d4d,038039586X,"[[0, I read this after hearing from a few peop...",5,I read this after hearing from a few people th...
2,0,8842281e1d1347389f2ab93d60773d4d,055357342X,"[[0, ** spoiler alert **], [0, Loved it.], [0,...",5,** spoiler alert ** Loved it. The epic saga co...
3,0,8842281e1d1347389f2ab93d60773d4d,067168390X,"[[0, Despite having a name that sounds like it...",4,Despite having a name that sounds like its a c...
4,0,8842281e1d1347389f2ab93d60773d4d,067976397X,"[[0, I loved this book.], [0, I agree with Eli...",5,I loved this book. I agree with Elizabeth - th...

In [24]:
new_merged_users = merged_users[["isbn", "user_id", "reviews", "rating"]]

In [25]:
new_merged_users['reviews'] = new_merged_users['reviews'].str.replace('\n', '')

/var/folders/2q/tbcdmvhj22qfn57wnpc5cxlw0000gn/T/ipykernel_82596/51303360.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_merged_users['reviews'] = new_merged_users['reviews'].str.replace('\n', '')

In [26]:
new_merged_users['reviews'] = new_merged_users['reviews'].str.replace('"', '\\"').str.replace("'", "\\'")

/var/folders/2q/tbcdmvhj22qfn57wnpc5cxlw0000gn/T/ipykernel_82596/1009255501.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_merged_users['reviews'] = new_merged_users['reviews'].str.replace('"', '\\"').str.replace("'", "\\'")

In [27]:
new_merged_users.head()

,isbn,user_id,reviews,rating
0,034541005X,8842281e1d1347389f2ab93d60773d4d,One of my top 5 favorites. Read this at the de...,5
1,038039586X,8842281e1d1347389f2ab93d60773d4d,I read this after hearing from a few people th...,5
2,055357342X,8842281e1d1347389f2ab93d60773d4d,** spoiler alert ** Loved it. The epic saga co...,5
3,067168390X,8842281e1d1347389f2ab93d60773d4d,Despite having a name that sounds like its a c...,4
4,067976397X,8842281e1d1347389f2ab93d60773d4d,I loved this book. I agree with Elizabeth - th...,5

In [28]:
with open("insert_reviews.py", "w") as f:
    num = 0
    f.write("session.add_all([")
    for index, row in new_merged_users.iterrows():
        user_id = row["user_id"]
        isbn = row["isbn"]
        if isbn in isbn_list["isbn"].to_list():
            num = num + 1
            review = row["reviews"]
            rating = int(row["rating"])
            values = f'Review("{user_id}", "{isbn}", "{review}", {rating}),\n'
            f.write(values)
    f.write("])")
    print(num)

6855

In [29]:
unique_values = new_merged_users['user_id'].unique()

# Step 3: Create a new DataFrame with these unique values
unique_user_df = pd.DataFrame(unique_values, columns=['user_id'])
unique_user_df.shape

(1082, 1)

In [127]:
with open("insert_users.py", "w") as f:
    count = 0
    for index, row in unique_user_df.iterrows():
        count += 1
        f.write("db.session.add(")
        id = row["user_id"]
        full_name = "OtakusOasis Customer"
        username = "OtakusOasis Customer"
        email = f"user{count}@email.com"
        password = "a$$wordd_cus"
        
        values = f'User(full_name="{full_name}", username="{username}", email="{email}", password="{password}", is_admin=False,id="{id}"))\ndb.session.commit() \n'
        f.write(values)